<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028363605727-j8b2p614f7m97e796tc9pbqoeg1qb6le.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028363605727-j8b2p614f7m97e796tc9pbqoeg1qb6le</string>
	<key>API_KEY</key>
	<string>AIzaSyBsGPuv0Y2kJzpw2ZawMLGdJz5IfZpmsvk</string>
	<key>GCM_SENDER_ID</key>
	<string>1028363605727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.imetyou.quehayapp</string>
	<key>PROJECT_ID</key>
	<string>quehay-30dda</string>
	<key>STORAGE_BUCKET</key>
	<string>quehay-30dda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028363605727:ios:59b04552451a7f5d20fb6a</string>
	<key>DATABASE_URL</key>
	<string>https://quehay-30dda-default-rtdb.firebaseio.com</string>
</dict>
</plist>