<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB8Nffg_F4BPWuYrurklyKQKNEFC1d82Hs</string>
	<key>GCM_SENDER_ID</key>
	<string>44473034781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quehayapp.staging</string>
	<key>PROJECT_ID</key>
	<string>quehay-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>quehay-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44473034781:ios:69a961290cc9ff53cffef4</string>
</dict>
</plist>